<select name="tea_options" id="">
  <option value="Peppermint">Peppermint</option>
  <option value="Green_Tea">Green Tea</option>
  <option value="Earl_Grey">Earl Grey</option>
  <option value="English_Breakfast">English Breakfast</option>
  <option value="Orange_Pekoe">Orange Pekoe</option>
  <option value="Decaf_Orange_Pekoe">Decaf Orange Pekoe</option>
  <option value="Honey_Lemon">Honey Lemon</option>
  <option value="Apple_Cinnamon">Apple Cinnamon</option>
  <option value="Chamomile">Chamomile</option>
  <option value="Chai_Tea">Chai Tea</option>
  <option value="Steeped">Steeped (loose leaf)</option>
</select>
