<div class="outer-ring">
  <form #beverageForm="ngForm" (ngSubmit)="onSubmit(beverageForm)">
    <div class="form-contents" [hidden]="submitted">
      <header>
        <h1>Timmy Time</h1>
        <h2>Two Thousand</h2>
      </header>

      <beverages></beverages>

      <tea-options *ngIf="beverageForm.value.beverage == 'tea'"></tea-options>

      <sizes class="cf"></sizes>

      <additives class="cf"></additives>

      <text-fields [is_invalid]="submit_invalid"></text-fields>

      <div *ngIf="!submitted" class="confirm">
        <div class="colour">
          <input type="submit" name="confirm" [value]="button_text" [ngClass]="{'processing': button_submitting}">
        </div>
      </div>

    </div>

    <div class="order-sent" [hidden]="!submitted">
      <h1>Done.</h1>
      <h3>Your order was sent.</h3>
      <div class="order-id">
        <p>order id:</p>
        <p>{{order_id}}</p>
      </div>
    </div>

  </form>

  <a href="orders" class="orders-link">Orders</a>
</div>
