<form #beverageForm="ngForm" (ngSubmit)="onSubmit(beverageForm)">
  <div class="form-contents" [hidden]="submitted">
    <header>
      <h1>Timmy Time</h1>
      <h2>Two Thousand</h2>
    </header>

    <div class="beverages">
    </div>

    <div class="tea-options" *ngIf="beverageForm.value.beverage == 'tea'">
    </div>

    <div class="sizes cf">
    </div>

    <div class="additives cf">
    </div>

    <div class="text-fields" [is_invalid]="submit_invalid">
    </div>

    <div *ngIf="!submitted" class="confirm">
      <div class="colour">
        <input type="submit" name="confirm" [value]="button_text">
      </div>
    </div>

  </div>

  <div class="order-sent" [hidden]="!submitted">
    <h1>Done.</h1>
    <h3>Your order was sent.</h3>
    <div class="order-id">
      <p>order id:</p>
      <p>{{order_id}}</p>
    </div>
  </div>


</form>
