<form #beverageForm="ngForm">
  <header>
    <h1>Timmy Time</h1>
    <h2>Two Thousand</h2>
  </header>

  <div class="beverages">
  </div>

  <div class="tea-options">
  </div>

  <div class="sizes cf">
  </div>

  <div class="additives cf">
  </div>

  <div class="presets cf">
    <div class="col">
      <input type="radio" name="preset" value="black" id="black">
      <label for="black">black</label>
    </div>
    <div class="col">
      <input type="radio" name="preset" value="double" id="double">
      <label for="double">double double</label>
    </div>
    <div class="col">
      <input type="radio" name="preset" value="triple" id="triple">
      <label for="triple">triple<br> triple</label>
    </div>
  </div>

  <div class="text-fields">
  </div>

  <div class="confirm">
    <div class="colour">
      <input type="submit" name="confirm" value="Order Up">
    </div>
  </div>
</form>
