<form #beverageForm="ngForm" (ngSubmit)="onSubmit(beverageForm)">
  <header>
    <h1>Timmy Time</h1>
    <h2>Two Thousand</h2>
  </header>

  <div class="beverages">
  </div>

  <div class="tea-options">
  </div>

  <div class="sizes cf">
  </div>

  <div class="additives cf">
  </div>

  <div class="text-fields">
  </div>

  <div class="confirm">
    <div class="colour">
      <input type="submit" name="confirm" value="Order Up" [disabled]="beverageForm.invalid">
    </div>
  </div>

<br>
  <p>----</p>
  {{beverageForm.value | json }}
  <br>
  <p>----</p>
  {{ beverageForm.controls.name?.errors | json }}

</form>
