<div class="col">
  <div>
    <input type="hidden" name="milk" value="{{additives.milk}}">
    <h2 (click)="increase('milk')">{{additives.milk}}</h2>
  </div>
  <label>milk</label>
</div>
<div class="col">
  <div>
    <input type="hidden" name="cream" value="{{additives.cream}}">
    <h2 (click)="increase('cream')">{{additives.cream}}</h2>
  </div>
  <label>cream</label>
</div>
<div class="col">
  <div>
    <input type="hidden" name="sugar" value="{{additives.sugar}}">
    <h2 (click)="increase('sugar')">{{additives.sugar}}</h2>
  </div>
  <label>sugar</label>
</div>
