<div class="primary cf">
  <div *ngFor="let bev of beverages | slice:0:2" class="col">
    <input type="radio" name="beverage" value="{{bev.name}}" id="{{bev.name}}" required>
    <label for="{{bev.name}}">
      <div class="image-box">
        <img src="assets/cup2.svg" alt="coffee cup">
      </div>
      {{bev.name}}
    </label>
  </div>
</div>

<div class="secondary cf">
  <div *ngFor="let bev of beverages | slice:2" class="col">
    <input type="radio" name="beverage" value="{{bev.name}}" id="{{bev.name}}" required>
    <label for="{{bev.name}}">
      <div class="image-box">
        <img src="assets/cup2.svg" alt="coffee cup">
      </div>
      {{bev.name}}
    </label>
  </div>
</div>
