<div class="primary cf">
  <div class="col">
    <input type="radio" name="beverage" value="classic" id="classic">
    <label for="classic">
      <div class="image-box">
        <img src="assets/cup2.svg" alt="coffee cup">
      </div>
      {{beverage.name}}
    </label>
  </div>
  <div class="col">
    <input type="radio" name="beverage" value="dark" id="dark">
    <label for="dark">
      <div class="image-box">
        <img src="assets/cup2.svg" alt="">
      </div>
      dark
    </label>
  </div>
</div>

<div class="secondary cf">
  <div class="col">
    <input type="radio" name="beverage" value="iced_cap" id="iced">
    <label for="iced">
      <div class="image-box">
        <img src="assets/cup2.svg" alt="">
      </div>
      iced cap
    </label>
  </div>
  <div class="col">
    <input type="radio" name="beverage" value="iced_coffee" id="iced_coffee">
    <label for="iced_coffee">
      <div class="image-box">
        <img src="assets/cup2.svg" alt="">
      </div>
      iced coffee
    </label>
  </div>
  <div class="col">
    <input type="radio" name="beverage" value="tea" id="tea">
    <label for="tea">
      <div class="image-box">
        <img src="assets/cup2.svg" alt="">
      </div>
      tea
    </label>
  </div>
</div>
