*{ box-sizing: border-box;}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}

body{
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 13px;
  color: #363636;
}

form{
  max-width: 260px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

label{
  display: block;
  position: relative;
  padding: 10px 0;
  width: 100%;
  min-height: 40px;
  background: -webkit-linear-gradient(0, #fff568 0%, #fff500 100%);
  background: -o-linear-gradient(0, #fff568 0%, #fff500 100%);
  background: linear-gradient(0, #fff568 0%, #fff500 100%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position: 0% 100%;
}

/* hide for checkbox hack use */
input[type="radio"]{
  display: none;
}
input:checked + label{
  background-size: 100% 100%;
  transition: background-size ease-out 111ms;
}

.col{
  float: left;
  width: 33.33%
}

header{
  border-bottom: 1px solid #333;
  font-size: 1.26em;
}
header h1, header h2{
  font-family: 'Lobster', cursive;
  font-weight: 100;
}
header h1{
  font-size: 2.1em;
  margin: 0 0.4em 0;
}
header h2{
  font-size: 1.7em;
  margin: 0;
  padding-bottom: 0.3em;
  display: inline-block;
}

input[type="text"], textarea, select, .confirm .colour{
  width: 100%;
  padding: 6px;
  margin: 6px 0 0;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #acacac;
  border-radius: 3px;
  font-family: inherit;
  font-size: 16px;
}
textarea{
  height: 3.6em;
}

.beverages, .sizes, .presets, .additives{
  padding: 1em 0;
}
.beverages label{
  padding: 9px 0;
}
.beverages img{
  width: 25px;
  height: 40px;
}
.primary img{
  width: 38px;
  height: 60px;
}
.beverages .primary{
  width: 160px;
  margin: 0 auto;
}
.beverages .primary .col{
  width: 50%;
}

.tea-options{
  position: relative;
}
.tea-options select{
  background: #fff568;
}
.tea-options::after{
  content: "";
  position: absolute;
  top: 23px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #acacac;
}

.sizes .col{
  width: 25%;
}
.sizes label{
  position: relative;
  width: 100%;
  text-transform: uppercase;
}

.presets{
  padding-top: 0;
}
.presets label{
  padding: 12px 7px;
  vertical-align: bottom;
}
.presets .col:first-child label{
  padding-top: 8px;
}

.additives{
  padding: 0.3rem 0.46rem;
}
.additives h2{
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-size: 6.4em;
  line-height: 1em;
  margin: 0;
}
.additives label{
  padding: 0;
}

.confirm{
  margin: 1rem 0 3rem 0;
}
.confirm .colour{
  display: inline-block;
  background: #363636;
  padding: 4px 4px;
  border: none;
}
.confirm input{
  font-size: 0.8rem;
  width: 100%;
  padding: 10px;
  border: 1px solid #fff568;
  color: #fff568;
  background: none;
  background: -webkit-linear-gradient(0, #fff568 0%, #fff500 100%);
  background: -o-linear-gradient(0, #fff568 0%, #fff500 100%);
  background: linear-gradient(0, #fff568 0%, #fff500 100%);
  background-repeat: no-repeat;
  background-size: 100% 0%;
  background-position: 100% 100%;
}
.confirm input.processing{
  color: #000;
  background-size: 100% 100%;
  transition: color 622ms, background-size ease-in 800ms;
  transition-timing-function: ease-in, cubic-bezier(0.23,0.6,0.96,0.84);
}

@keyframes rise-up {
  0%{
    background-size: 100% 0%;
  },
  100%{
    background-size: 100% 100%;
  }
}

.order-sent{
  padding: 4rem 0 0;
}
.order-sent h3{
  font-size: 1.22rem;
  font-weight: 300;
}
.order-id{
  margin-top: 3rem;
}
.order-id p{
  margin: 0.2rem 0;
}


/* Angular validation */
.text-fields input.ng-invalid.ng-touched, .text-fields .error{
  padding-left: 2px;
  border-left: 4px solid #ff4d6c;
}
.error-message{
  display: inline-block;
  position: relative;
  padding: 0.4rem 1.2rem;
  margin: 0.3rem auto 1rem auto;
  background: #ff4d6c;
}
.error-message::after{
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #ff4d6c;
}
